body{
	background-color: #d9fddc;
}

table{
	border: medium;
}

#mybox{
	border: 5px;
	box-sizing: border-box;
}

form{
	border: 3px solid #008080;
	width: 400px;
	height: 180px;
	background-color: #c0c0c0;
}

tr td{
  width: 100%;
  padding: 12px 24px;
  margin: 8px 0;
}
