body{
	background-color: #d9fddc;
}

header {
	background-color: #408080;
	color: white;
	box-shadow: inset 10px 40px 60px 0px #808080;
	border-bottom: solid 1px #003B47;
	text-align: center;
	height: 103px;
	margin-bottom: 50px;
}

h1{
	padding-top: 35px;
	padding-right: 100px;
}

#logo{
	width: 130px;
	height: 100px;
    padding : 2px;
}